# Project exclude paths
/node_modules/
/src/regions/index.js
/src/regions/index.js.map
/src/regions/RegionManager.js
/src/regions/RegionManager.js.map
/index.js
/index.js.map
/Manager.js
/Manager.js.map
/Site.js
/Site.js.map